@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewBag.Title = "Logan Hardy: Assignment 2";
    ViewBag.Nav1 = "Home";
    ViewBag.Nav2 = "Grade Calculator";

}


<!--Logan Hardy: Assignment 1
    IS 413 Winter 2021-->

<body>
    <!--Preferred name-->

    <h1 class="centerText">Logan Hardy</h1>
    <br />
    <p class="centerText">I love having fun with my kids!</p>
    <!--Image of me doing something I love-->
    <img src="~/img/IMG-1018.jpg" />
    <br />
    <!--Paragraph of what I expect to get out of this class-->
    <p>
        With IS 403: Enterprise Application Development, I hope to gain a greater understanding on web applications, both front and back end.
        I also haven't had any previous experience with Visual Studio, so I'm excited to become more familiar with it before I enter the workforce.
        I hope that we will have an opportunity to design websites to be mobile friendly as well, and maybe design an actual application that could be downloaded from an app store.
    </p>

    <!--Top Three Jobs I'm Interested in After Graduation-->
    <div class="topJobs">
        <p>Top Three Jobs I'm Interested in After Graduation</p>
        <ul id="topJobs">
            <li>Data Scientist</li>
            <li>Data Analyst</li>
            <li>Database Administrator</li>
        </ul>
    </div>
    <br />
    <br />


</body>
